{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": [2, {
      "severity": "warning"
    }],
    "property-no-unknown": null,
      "color-hex-case": [ "lower", {
      "message": "Lowercase letters are easier to distinguish from numbers"
    }],
    "at-rule-empty-line-before": null
  }
}
