@import './reset.css';
@import './icons.css';
@import './colors.css';

body {
  color: $base-color;
  background: #fff;
  font-size: 20px;
  p {
    color: red;
    background-color: #fefefe;
    width: 200px;
    @utils-ellipsis 4;
  }
}
