@import './reset.css';
@import './icons.css';
@import './colors.css';

@custom-selector :--heading h1, h2, h3, h4, h5, h6 ;

@custom-media --small-viewport (max-width: 480px);

@each $icon in (foo, bar, baz) {
	.icon-$(icon) {
		display: inline-block;
		width: 200px;
		height: 200px;
		background: url('../assets/imgs/slice/$(icon).png#elements');
	}
}

@each $icon in (location, position, website, mail, mobile) {
	.icon.$(icon) {
		display: inline-block;
		width: 14px;
		height: 14px;
		background: inline('imgs/slice/icon-$(icon).png') center no-repeat;
	}
}

@svg-load table url(table.svg) {
	fill: #cfc;
}

article :--heading + p {
	margin-top: 0;
}

.table {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: svg-inline(table);
	background-size: cover;
}

.position {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: svg-load('position.svg', fill=#0f0, stroke=#fff);
	background-size: cover;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

html {
	font-size: 20px;
}

body {
	box-sizing: border-box;
	background: #fff;
	color: $base-color;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;

	@media (--small-viewport) {
		font-size: 16px;
	}

	p {
		width: 200px;
		background-color: #fefefe;
		color: red;

		@utils-ellipsis 4 ;
	}
}

p:matches(:first-child, .special) {
	color: red;
}

.banner {
	position: fixed 0 0 *;
	border: 1px 2px #343434;
	size: 40px;
	color: #abccfc #212131;
	font-size: 12px 2;
}

/* .container {
	@neat-outer-container;

	.parent-element {
		@neat-span-columns 8；
    .element {
			@neat-span-columns 6 8 ;
		}
	}
} */

.rect {
	rect: 20px 30px #ff0;
}

.circle {
	circle: 50px #ff0;
}

.triangle {
	triangle: 5px top #ff0;
}
