.edit {
  width: 200px;
  height: 200px;
}

.message {
  width: 200px;
  height: 200px;
}

.non-editable {
  width: 200px;
  height: 200px;
}

.position {
  width: 200px;
  height: 200px;
}

.table {
  width: 200px;
  height: 200px;
}

